*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body{
	background: #263238;
	font-family: 'Roboto', Sans-serif;
}

/*HEADER-BACKGROUND*/

.head{
	background: url('../img/12.jpg');
	background-color: rgba(70, 72, 82, 0.8);
	width: 100%;  
	background-size: cover;
	height: 700px;
  	display: block;  	 
  	box-shadow: inset 0 -50px 50px #263238;
  	background-attachment: fixed;
}

/*========== MAIN-SECTION =========*/

.about{
	
	background: #263238;
	color: #fff;
	max-width: 1000px;
	width: 80%;
	margin: 0 auto;
	padding-top: 15px;
	margin-top:-650px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: #fff;
}

.cajas{
	padding-right: 0;
	padding-left: 0;
}


.links a{
	color: #fff;
	font-size: 1.3em;
	margin-right: 30px;
	margin-left: 60px;
	padding: 10px 20px;
}
.links{
	padding: 10px 20px 10px 0;
	margin:0 0px 20px 0px;	
	border-bottom: 1px solid #fff;
	float: right;
}

.links a:hover{
	text-decoration: none;
	background: #2856b6;
	border-radius: 10px;
}

/*LEFT-BOX*/

.left .botones{
	padding: 0;
	text-align: center;
}

.botones .hello{
	background: #2856b6;
	
	padding: 0px 10px;
	border-radius: 10px;
	text-align: center;
	margin-right: 20px;
	width: 40%;
	display: inline-block;

}

.hello p{
	font-size: 2em;
	margin-bottom: 0;
}




.botones div{
	padding: 0;
}

.name{
	font-size: 1.5em;
	text-align: center;
	
}

.name .name1{
	font-size: 1.8em;
	margin-bottom: 40px;
}

.isco{
	font-size: 1.4em;
	font-weight: 600;
}

.name .dev{
	font-size: 1.5em;
	margin-top: 40px;
}


/*RIGHT-BOX*/

.right{
	display: flex;
	flex-direction: column;
	text-align: center;
	overflow: hidden;
	margin:0 0 30px 0px;
	padding: 0;
	display: inline-block;
}

.right img{
	margin: 10px auto;
	display: block;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

.right .button{
	margin:30px 0 ;
	display: inline-block;	
}

.button a{
	text-align: center;
	background: #2856b6; 
	color: #fff;
	padding: 20px;
	border-radius: 10px;
	font-size: 1.5em;
	opacity: 0.3;
}

.button a:hover{
	opacity: 1;
	text-decoration: none;
}

.right .datos{
	font-size: 1.5em;
}


/*SOCIAL_ICONS*/


.social{
	text-align: center;
	background: #2856b6;
	color: #fff;
	font-size: 3.5em;
}
.socialRed{
	padding: 20px 0px;
}

.socialRed a{
	color: #fff;
	margin: 40px 30px;
}

.socialRed a:hover{
	color: #edba52;
}




/* ========== ABOUT-SECTION ========= */

.text{
	color: #fff;
	margin:0 auto;
	margin-top: 70px;
	width: 80%;
}

.about-text{
	padding: 0
	margin: 50px auto;
}


.about-text div h4{
	font-size: 3em;
	border-bottom: 1px solid #edba52;
	padding-bottom: 10px;
}

/*========== WORK-SECTION =========*/

.title{
	width: 80%;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 30px;
}
.title .line{
	padding: 0;
}

.title .line h4{
	font-size: 3em;
	color: #fff;
	border-bottom: 1px solid #edba52;
    padding-bottom: 10px;

}

.git-link{
	color: #fff;
}


.git-link:hover{
	color: #edba52;
	text-decoration: none;
}

/*PROJECTS*/

.trabajos{
	color: #fff;
	padding: 0; 
}

.container-trabajo1{
	overflow: hidden;
}


.trabajo{
	overflow: hidden;
	height: 325px;
	margin-bottom: 10px;
}

.thumb{
	color: #000;
	background: #fff;
	background-size: cover;
	height: 300px;
	border-radius: 10px 10px 0 0;
}


.thumb img{
	background-size: cover;
	width:90%;
	height: 200px;
	margin: 0 auto;
	display: inherit;
	margin-top: -50px;
	border-radius:10px 10px 0 0; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}


.thumb img:hover{
	width: 100%;
	 height: 270px;
    margin-top: -115px;
    transition-duration: 1s;
	
}

.descripcion{
	background: #2856b6;
	padding: 25px 30px;
    height: 140px;
    color: #fff;
}

.descripcion p{
	margin: 0px 0 5px 0;
	text-align: left;
}

.descripcion .nombre{
	font-size: 1.4em;
}
.descripcion .categoria{
	font-size: 1em;
	color: #edba52;
}

.container-trabajo2{
	overflow: hidden;
}

/*========== TECHNOLOGIES (BACK-FRONT-END) ========= */

.icons .box h4{
	background: #2856b6;
	color:#edba52; 
	padding: 10px 0;
	border-radius: 10px 10px 0 0;
	font-size: 2em;
	font-weight: 500;
}

.icons .box li{
	font-size: 2em;
	padding-top: 15px;
}

.icons .back li{
	padding-top: 45px;
}


/* ========== FOOTER-SECTION ========= */

.redes-sociales{
	background: #2856b6;
	text-align: center;
	padding: 15px 0;	
}

.redes-sociales a{
	color: #edba52;
	font-size: 2.5em;
	margin:20px;
}




/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Extra Small Devices, Phones */ 

@media only screen and (min-width : 300px) {
		
	/*MAIN-SECTION*/

	.right{

		width: 100%;
	}

	.about{
		width: 90%;
	}

	.left{
		margin-top: 0;
	}

	.left .botones .hello{
		background: #2856b6;
		padding: 0px 0;
		border-radius: 10px;
		text-align: center;
		font-size: 1.5em;
		margin-right: 20px;
		width: 100%;
		margin-bottom: 30px;
		display: inline-block;
	}

	.links{
		text-align: center;	
		display: none;
	}

	.links a{
		margin:0 0; 
		padding: 10px 10px 10px 10px;
		font-size: 1.5em;
	}

	.right img{
		margin: 10px auto;
		width: 250px;
		height: 250px;
		border-radius:200px; 
	}


	/*ABOUT-SECTION*/

	.about-text p{
		width: 100%;
		text-align: center;
		padding: 0;
		margin: 0;
		font-size: 1em;
		line-height: 40px;

	}

	/*WORK-SECTION*/

	.trabajo{
		text-align: center;
	}


	/*TECHNOLOGIES-SECTION*/
	.icons .box{
	
	width: 100%;
	margin: 20px 0;
	background: #fff;
	text-align: center;
	list-style-type:none;
	border-radius: 10px;
	height: 350px;
	}
}




/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	/*MAIN-SECTION*/

	.right img{
		margin: 10px auto;
		width: 400px;
		height: 400px;
		border-radius: 200px;			
	}

	.links{
		text-align:center;
	}
	
	/*ABOUT-SECTION*/
	.about-text p{
		width: 100%;
		text-align: center;
		padding: 0;
		margin: 0;
		font-size: 1em;
		line-height: 40px;
	}

	/*WORK-SECTION*/
	.trabajo{
			text-align: center;
			
	}
}




/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
	/*MAIN-SECTION*/
	.right{
		width: 50%;
	}

	.right img{
		margin: 10px auto;
		width:250px;
		height: 250px;
		border-radius: 100%;			
	}

	.left{

		margin: -50px 0px 0 0;
	}

	.links{
		width: 47%;
		display: unset
	}
	
	.links a{
		text-align: center;	

		margin:0 0; 
		padding: 10px 20px 10px 20px;
		font-size: 1.5em;
	}

	/*ABOUT-SECTION*/
	.about-text p{
		width: 100%;
		text-align: center;
		padding: 0 50px;
		margin: 50px 0;
		font-size: 1.2em;
		line-height: 40px;
	}

	/*WORK-SECTION*/
	.thumb{
		text-align: center;
			
	}

	/*FOOTER-SECTION*/
	.icons .box{
		background: #fff;
		width: 60%;
		margin: 40px auto;
		text-align: center;
		text-decoration: none;
		list-style-type:none;
		border-radius: 10px;
		height: 350px;
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

